// 변수처리

// size width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMiddle: 18px;
$fontSizeBig: 21px;

// title text
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMiddle: 21px;
$titleFontSizeBig: 32px;

// background color
$layoutBg: #fff3c4;

// font color
$fontColorBasic: #666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

// border color
$borderColorPrimary: #b9844d;

// button colot
$gBtnColor: #b9844d;
$gBtnHoverColor: #e3a936;

//table color
$tableBg : #b9844d;
